@import url(http://fonts.googleapis.com/css?family=Arbutus+Slab);
html {
   background-image: url('/images/background-website.jpg');
  color: white;
  font-family: 'Arbutus Slab', serif;

  }

nav{
	border-style: solid; 
	border-width: 5px;
}

header h1{
	text-align: center;
}

#content{
	background-color: black;
	border-style: solid; 
	border-color: white;
	border-width: 5px;

}

.container img {
    width: 75%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

h1 p{
	color:black;
}

ul{
	text-align: center;
}

li{
	list-style-type: none;
}

li a{
	text-decoration: none;
	color: white;
}